{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/ucl_nif.so", ["c_src/*.c"]}
]}.

%% {plugins, [rebar_gdb_plugin]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -Ic_src/ -I/usr/local/include -g -Wall -Werror"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CXXFLAGS", "$CXXFLAGS -Ic_src/ -I/usr/local/include -g -Wall -Werror"},

    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lucl"}
]}.

{eunit_opts, [
    verbose
]}.

{pre_hooks, [{"", compile, "escript enc compile"}]}.
{post_hooks, [{"", clean, "escript enc clean"}]}.
